{% extends 'noticias/base.html' %}
{% load static %}

{% block content %}

<section class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2>Ingrese nueva contraseña</h2>
                    <hr>
                    {% if validlink %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}

                            <input type="submit" value="Cambiar">
                        </form>
                    {% else %}
                        <p class="error">Link invalido</p>
                        <p><a href="{% url 'password_reset' %}">Solicitar una nuevo cambio de contraseña</a></p>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>

</section>

{% endblock %}