{% extends 'noticias/base.html' %}
{% load static %}

{% block content %}
  <section class="row main">
    <div class="contacto col-xs-10 col-md-4 center-xs">
      <h2>Contacto</h2>

      <form action="" method="POST" id="contacto" onsubmit="return validar()">
        {% csrf_token %}
        {{ formCont.as_p }}

        <div class="formulario">
          <input type="submit" class="boton enviar" id="enviar" value="Enviar">
        </div>

        <div id="confirmacion" class="exito"></div>
      </form>

      {{ mensaje }}
    </div>
  </section>
{% endblock %}