{% extends 'noticias/base.html' %}
{% load static %}

{% block content %}
  <section class="center-xs">
    <div class="row contenedor-nosotros">
      
      <div class="item center-xs col-xs-12">
        <img src="{% static 'img/reci9.jpg' %}" alt="Nosotros" title="Nosotros" class="col-xs-12">
      </div>
      
      
      <p class="col-xs-12">"Recíclate esta" surgió en 2020, está compuesta por un grupo de alumnos con conciencia ambiental y que quiere generar conocimiento, ayuda y motivación para hacer práctica el reciclaje y así reducir la sobreexplotación de los recursos naturales, la contaminación de aire y de agua, a cuidar la vida de nuestros animales y la propia.</p>
      <p class="col-xs-12" >A su vez, queremos que particulares y empresas vean en nuestro sitio web una plataformada dedicada y especializada en la que puedan mostrar sus proyectos, ideas o productos ecológicos. Entendemos que la propagación y la educación ecológica es sustancial para luchar contra el cambio climático, así sea mediante el reciclaje, la sostenibilidad o la utilización de energías renovables. 
      </p>
      <h3 class="col-xs-12">¡Todos juntos podemos cuidar nuestro medio ambiente!. </h3>
    </div>    
  </section>


  
  <div id="exterior-mapa">
    <div id="map"></div>
  </div>
{% endblock %}