{% extends 'noticias/base.html' %}
{% load static %}

{% block content %}
  <div class="intro">
    <h2>Selección del editor</h2>
  </div>

{% if user.is_authenticated %}
  <a href="{% url 'nueva_noticia' %}" class="item end-xs col-xs-1">
    <img src="{% static 'img/agregar.png' %}" class="icono">
  </a>
{% endif %}

  {% for noticia in noticias %}
  <section class="row">
    <div class="titular">
      <div class="item center-xs col-xs-12">
        <a href="{% url 'noticia_completa' pk=noticia.pk %}">
          <div class="img-titular">
            <img src="{{ noticia.imagen.url }}" class="mini">
          </div>
          <div class="titulo-titular">
            <h3>{{ noticia.titulo }}</h3>            
          </div>
          <div class="extracto-titular">
            <p>{{ noticia.texto|truncatechars:150 }}
            </p>
          </div>
        </a>  
      </div>  
    </div>
  {% endfor %}

{% endblock %}