<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reciclate esta - Noticias</title>
  <meta name="description" content="Reciclaje y medio Ambiente">    
  <link rel="stylesheet" href="css/flexboxgrid.min.css">    
  <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
  <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>
<body>
  <div class="header"></div>

  <section class="noticia row">
    
      <h1 class="titulo col-xs-12">¿Qué es la Ley REP?: Empresas tienen hasta Junio para declarar cantidad de productos prioritarios puestos en mercado chileno</h1>

      <div class="item center-xs col-xs-12">
        <img src="img/ley-reciclaje.jpg" alt="Rep reciclaje" title="Rep reciclaje" class="col-xs">
      </div>  
      
      <p class="fecha col-xs-11">14 Mayo 2020</p>      
      
      <p class="col-xs-12">La ley N° 20.920, también conocida como Ley del Reciclaje, fue publicada en 2016, pero su total implementación es un proceso gradual que lleva años. Actualmente existe el reglamento sobre neumáticos y está esperando ser aprobado el de envases y embalajes.</p>

      <h5 class="col-xs-11">No más basura industrial</h5>

      <p class="col-xs-12">Responsabilidad Extendida del Productor (REP) es uno de los conceptos que introduce la nueva legislación, y una de las aristas más importantes de ésta, junto a la Gestión de Residuos y el Fomento al Reciclaje. La REP obliga a los productores (fabricantes e importadores) de cualquiera de los 6 productos prioritarios a organizar y financiar un sistema de gestión para valorizar una porción de esos productos. Los envases y embalajes, aceites lubricantes, aparatos eléctricos y electrónicos, baterías, pilas y neumáticos son productos prioritarios.</p>

      <p class="col-xs-12">Los objetivos de la Ley REP son:</p>
      <p class="col-xs-12">-Disminuir la generación de residuos y fomentar su reutilización, reciclaje u otra valorización.</p>
      <p class="col-xs-12">-Disminuir el daño ambiental por la extracción y uso de recursos naturales.</p>
      <p class="col-xs-12">-Proteger la salud de las personas y el medio ambiente.</p>

      <h5 class="col-xs-11">Implementación</h5>

      <p class="col-xs-12">Como la mayoría de las leyes, ésta tiene lineamientos de acción, cinco puntos que ya se han puesto en marcha. De éstos, uno de los más importantes es la declaración de productores de productos prioritarios en la Ventanilla Única del Registro de Emisiones y Transferencia de Contaminantes (RETC), trámite que empezó este 6 de mayo y tiene fecha límite el próximo 4 de junio, en el cual se debe declarar la cantidad de productos prioritarios puestos en el mercado chileno durante 2019. Información que será usada para generar los decretos de meta y evaluar el impacto que tendrá en la ley.</p>

      <h5 class="col-xs-11">Economía circular: No es solo gestionar los residuos, también es generar menos residuos</h5>

      <p class="col-xs-12">Fernando Vara, encargado de la Ley REP en la región de Antofagasta, explicó en un live informativo del Ministerio de Medio Ambiente que, junto al Ministerio de Economía, se implementó una Hoja de Ruta de Economía Circular, instrumento que busca llegar a un acuerdo con privados, “para desarrollar acciones que aseguren la sustentabilidad de las operaciones, no solo económicamente, sino también de forma socioambiental”.</p>

      <p class="col-xs-12">Una de las socias fundadoras de Norte Sustentable, empresa que gestiona residuos e imparte programas a la comunidad, Patricia Bolados, considera que la Ley REP ha influido de manera positiva, “ya que los servicios de nuestra empresa no eran un rubro obligatorio, por lo que no había necesidad de manejar adecuadamente los residuos. Ahora gracias a la ley si está la exigencia”.</p>

      <h5 class="col-xs-11">La importancia de las relaciones entre las partes</h5>

      <p class="col-xs-12">Para que las tres aristas principales funcionen circular y sustentablemente es necesario mantener una relación cooperativa entre privados, municipios, organismos del Estado y organizaciones civiles. Éstas últimas también juegan un papel importante en generar interés en la comunidad en materias ambientales, como lo hace el parque reciclador EcoRayen.</p>

      <p class="col-xs-12">Su directora, Pamela Pérez, nos contó que para atraer a la gente a estos temas invitan a las personas a participar de talleres no solo de reciclaje de materiales, sino también de su reutilización. Ella empezó a los 30 años a cambiar sus hábitos de consumo a unos más sustentables, e invita a la gente a hacer lo mismo, “viendo la realidad, que se puede reducir lo que consumimos, viendo que hay otras opciones como comprar a granel o hacer compostaje con nuestros propios desechos orgánicos y dar vida a nuestro propio huerto, reduciendo el efecto invernadero, son formas para hacer nacer el interés y mejorar junto al planeta”.</p>

      <h5 class="col-xs-11">Gestión de residuos</h5>

      <p class="col-xs-12">Además de EcoRayen, Norte Sustentable tiene un papel importante en esta relación circular, siendo un intermediario por su servicio de gestión de residuos por parte de empresas y privados. Patricia Bolados, una de sus fundadoras, explica que en el último año ha habido un incremento en la solicitud de gestión de residuos, “pero se debe destacar que no solamente por parte de empresas, sino que también por parte de la comunidad”.</p>

      <h5 class="col-xs-11">Otros lineamientos de acción</h5>

      <p class="col-xs-12">La implementación de instalaciones de reciclaje y embalaje, como puntos limpios, puntos verdes y centros de acopio en toda la Región de Antofagasta llega a un total de 120 lugares de acceso al público, recolectando cartón, botellas PET1 y latas de aluminio. Además, el Ministerio de Medio Ambiente implementó concursos por Fondos de Reciclaje para proyectos, programas y acciones de municipalidades. Asimismo, y en conjunto con la Seremi, se han impartido cursos y certificado a más de 100 recicladores de base en Antofagasta y Calama, en sistemas de gestión de productos prioritarios, con financiamiento público y privado.</p>
    
      <p class="col-xs-12">Fuente: <a href="https://regionalista.cl/que-es-la-ley-rep-empresas-tienen-hasta-junio-para-declarar-cantidad-de-productos-prioritarios-puestos-en-mercado-chileno/" target="_blank">Regionalista - ¿Qué es la Ley REP?</a></p>
    
  </section>
  

  <div class="footer"></div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="owlcarousel/owl.carousel.min.js"></script>
  <script src="script.js"></script>
</body>
</html>