<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reciclate esta - Noticias</title>
  <meta name="description" content="Reciclaje y medio Ambiente">    
  <link rel="stylesheet" href="css/flexboxgrid.min.css">    
  <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
  <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>
<body>
  <div class="header"></div>
  
  <section class="noticia row">

    <h1 class="titulo col-xs-12">Un sistema de identificación de residuos interactivo</h1>
    <div class="item center-xs col-xs-12">
      <img src="img/ecobot.jpg" alt="Ecobot" title="Ecobot" class="col-xs">
    </div>
    <p class="fecha col-xs-11">4 Mayo 2020</p>

    <p class="col-xs-12">Ecobot, es una de las tantas iniciativas que fomentan la modernización de los puntos ecológicos. Esta iniciativa contempla la recolección de botellas plásticas, que motivadas por cupones y/o descuentos al llevar botellas. </p>

    <h5 class="col-xs-11">Un segundo avance</h5>

    <p class="col-xs-12">El manejo de Ecobot, hizo que se pensara en como poder aprovechar el uso de la pantalla, para poder interactuar con los usuarios y generar rutas de reciclaje, estudiantes del programa de magister de U.N sede medellin, se valieron de la plataforma Smart Waste llevando IoT y Big data. Para Acondicionar los tradicionales recipientes de reciclaje de vidrio, plastico, carton. Les instalaron paneles solares a los que estaban, fuera de red de corriente para alimentar las pantallas y poder asi comunicarse con los usuarios. Este proyecto sirvio para identificar cuando estaban llenos los contenedores, para notificar su retiro y hacer una ruta optima. </p>

    <h5 class="col-xs-11">Un avance en otro lugar</h5>
    <p class="col-xs-12">Grey Parrot, es una empresa emergente, se posiciono a traves de la introduccion de la realidad aumentada en el sector Negocio al consumidor (B2C) y eso trasformarlo en un negocio. Ellos desarrollaron un sistema de aprendizaje profundo, que es capaz de separar los distintos componentes de un elemento para el reciclaje optimo. Debido a que la mala separacion de residuos provoca un daño en la cadena productiva. </p>

    <p class="col-xs-12">Fuente: <a href="http://red.uao.edu.co/bitstream/10614/12344/5/T09205.pdf" target="_blank">Contenedores de reciclaje interactivos con IoT</a></p>

    <p class="col-xs-12">Fuente: <a href="https://greyparrot.ai/" target="_blank">Empresa de realidad Aumentada que se especializa en la separacion de residuos</a></p>
  </section>

  <div class="footer"></div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="owlcarousel/owl.carousel.min.js"></script>
  <script src="script.js"></script>
</body>
</html>
