{% extends 'noticias/base.html' %}
{% load static %}
{% load user_tags %}

{% block content %}

{% if request.user|has_group:"Editor" %}
    <div class="col-xs-12 editar">
        <a  href="{% url 'editar_noticia' pk=noticia.pk %}">
            <img src="{% static 'img/editar.png' %}" class="icono">
        </a>
        <a  href="{% url 'eliminar_noticia' pk=noticia.pk %}">
            <img src="{% static 'img/delete.png' %}" class="icono">
        </a>
    </div>
    
{% endif %}

<section class="noticia row">
    
    <h1 class="titulo col-xs-12">{{ noticia.titulo }}</h1>

    <div class="item center-xs col-xs-12">
        <img src="{{ noticia.imagen.url }}" class="col-xs">
    </div>  
    
    {% if noticia.fecha_publicacion %}
        <div class="date">
            <p class="fecha col-xs-11">{{ noticia.fecha_publicacion }}</p>
        </div>
    {% endif %}

    <p class="col-xs-12">{{ noticia.texto|linebreaksbr }}</p>
</section>

{% endblock %}
