{% extends 'noticias/base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'editar_noticia' pk=noticia.pk %}">
        <img src="{% static 'img/editar.png' %}" class="icono">
    </a>
{% endif %}

<section class="noticia row">
    
    <h1 class="titulo col-xs-12">{{ noticia.titulo }}</h1>

    <div class="item center-xs col-xs-12">
        <img src="{{ noticia.imagen.url }}" class="col-xs">
    </div>  
    
    {% if noticia.fecha_publicacion %}
        <div class="date">
            <p class="fecha col-xs-11">{{ noticia.fecha_publicacion }}</p>
        </div>
    {% endif %}

    <p class="col-xs-12">{{ noticia.texto|linebreaksbr }}</p>
</section>

{% endblock %}
