{% extends 'noticias/base.html' %}
{% load static %}

{% block content %}
  <section class="item center-xs col-xs-12">
    <div class="intro">
      <p class="col-xs-11">
        Todos nuestros proyectos son desarrollados de forma personalizada y adaptados a la medida de sus necesidades. Contáctenos y le ofrecemos asesoramiento y presupuesto personalizado para su caso.</p>
    </div>

    <div class="item center-xs col-xs-12">
      <div class="separador col-xs"></div>
    </div>

    <div class="cuerpo row">      
      <img src="{% static 'img/descarga1.png' %}" alt="Hope" title="Hope" class="col-xs-5 col-lg-4">
      <p class="col-xs-11 col-lg-5">
        HOPE. Es una empresa dedicada especialmente en reciclaje, que aseguran la entrega directa de residuos en empresas recuperadoras. Promueve el cambio de hábito en las personas y la sociedad fomentando la gestión intregada de residuos sólidos,
        el reciclaje y su valorización.</p>
      <a class="boton" href="https://hopechile.cl" target="_blank">Visitar sitio web</a> 
    </div>

    <div class="item center-xs col-xs-12">
      <div class="separador col-xs"></div>
    </div>

    <div class="cuerpo row">
      <img src="{% static 'img/amarillo.jpg' %}" alt="Conciencia Eco" title="Conciencia Eco" class="col-xs-5 col-lg-4">
      <p class="col-xs-11 col-lg-5">
        CONCIENCIA ECO. Es una empresa dedicada en su totalidad, a concienciar a los internautas de que la ecología es algo que podemos y debemos hacer por nuestro planeta, y por nosotros mismos; y sobre todo, para que las futuras generaciones aprendan de los errores que hemos cometido en el pasado. Consideramos que la divulgación de la cultura y la educación ecológica es esencial para luchar contra el cambio climático, ya sea mediante el reciclaje, la sostenibilidad  o la utilización de energías renovables.</p>
      <a class="boton" href="https://www.concienciaeco.com" target="_blank">Visitar sitio web</a>
    </div>

    <div class="item center-xs col-xs-12">
      <div class="separador col-xs"></div>
    </div>

    <div class="cuerpo row">
      <img src="{% static 'img/reciclados.jpg' %}" alt="Reciclados industriales" title="Reciclados industriales" class="col-xs-5 col-lg-5">
      <p class="col-xs-11 col-lg-4">
        RECICLADOS INDUSTRIALES. Empresa Chilena con gran ambición en cuanto a la búsqueda de proteger y contribuir con el medio ambiente a través del reciclaje de residuos sólidos no peligrosos tales como papel, cartón, botellas de bebidas de PET, plásticos, envases de Tetrapak y latas de aluminio entre otros. Buscamos despertar conciencia social respecto al cuidado y preservación de nuestro entorno, a la par de los nuevos tiempos.</p>
      <a class="boton" href="https://recicladosindustriales.cl" target="_blank">Visitar sitio web</a>
    </div>
    
    <div class="item center-xs col-xs-12">
      <div class="separador col-xs"></div>
    </div>

    <div class="cuerpo row">
      <img src="{% static 'img/green.jpg' %}" alt="Green plast" title="Green plast" class="col-xs-5 col-lg-5">
      <p class="col-xs-11 col-lg-5"> 
        GREEN PLAST. Es una empresa que transforma los desechos plásticos en una nueva materia prima que permite la fabricación de diversos productos.junto a nuestra tecnología de punta y a rigurosos procesos productivos, nos permiten ofrecer a nuestros clientes productos de alta calidad capaces de ser reutilizados en diversos procesos de transformación de plástico.</p>
      <a class="boton" href="http://www.greenplast.cl" target="_blank">Visitar sitio web</a>
    </div>
  </section>
{% endblock %}